{% extends "../panel.html" %}

{% block title %}修改用户信息{% end block %}

{% block page_title%}<h2>修改用户信息</h2>{% end %}

{% block main %}
{% include "../prompts.html" %}
<div class="col-sm-8">
	<form class="form-horizontal" role="form" method="POST" action="{{ request.path }}">
		<div class="form-group">
			<label for="inputPassword" class="col-sm-3 control-label">密码</label>
			<div class="col-sm-6">
				<input name="password" type="text" class="form-control" id="inputPassword" placeholder="用户密码，不填写则不进行修改。" >
				<input name="user_id" type="hidden" class="form-control" id="user_ID" value="{{ user.user_id }}" >
			</div>
		</div>
		<div class="form-group">
			<label for="inputRemark" class="col-sm-3 control-label">用户备注</label>
			<div class="col-sm-6">
				<input name="remark" type="text" class="form-control" id="inputRemark" value="{{ user.remark }}" placeholder="用户备注" >
			</div>
		</div>
		<div class="form-group">
			<label for="inputStatus" class="col-sm-3 control-label">用户状态</label>
			<div class="col-sm-6">
				<select name="status" class="form-control">
					<option {% if user.status == 0 %}selected="selected"{% end %} value="0">正常</option>
					<option {% if user.status != 0 %}selected="selected"{% end %} value="1">禁用</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-6">
				<div class="checkbox">
					<label>
						<input name="is_admin" {% if user.is_admin %}checked="checked"{% end %} type="checkbox">是否为管理员
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-6">
				<button type="submit" class="btn btn-default">确认修改</button>
			</div>
		</div>
	</form>
</div>
{% end %}
